streamlit
python-dotenv
python-docx
pdfplumber
firebase-admin
chromadb
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
langgraph
numpy
requests
pydantic
langchain-ollama
tavily-python
